@import '~bootstrap/scss/bootstrap';

h1 {
  padding: 2%;
  text-align: center;
}

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 150px;
  justify-content: center;
}

.container {
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alt-color {
  background-color: $alt-color;
}

.display-message {
  height: 20px;
  margin: 15px;
  text-align: center;
}

.game-board {
  display: none;
}

.form-group  {
  margin: 2% 25%;
  width: 40%;
}

p {
  text-align: center;
}
